
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: lightgray;
  font-family: 'Ubuntu Mono', monospace, Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* firefox horizzontal scrollbar hidden */
}

/* chromium horizzontal scrollbar hidden */
::-webkit-scrollbar {
  height: 0;
}